.SidePanelUserInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 4px;
}
.SidePanelUserInfoDescription {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
